.secondrow--maincards {
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 3rem;
  .secondrow--Firstcard {
    //width: 28rem;
    width: 100%;
    height: 25rem;
    border: 1px solid grey;
    background: lemonchiffon;
  }
  .secondrow--firstCard {
    display: flex;
    padding: 1rem 1rem;
    cursor: pointer;
  }
  .secondrow--firstCard--Img {
    justify-content: space-around;
    padding: 5px;
  }
  .secondrow--firstCard--Title {
    font-family: "Times New Roman", Times, serif;
    margin-top: 1rem;
  }
  .secondrow--firstCard--SubTitle {
    text-align: left;
    font-size: 14px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 5px;
  }
  .secondrow--card--Link {
    color: green;
    text-decoration: none;
    margin-top: 1rem;
    margin-right: -5rem;
    cursor: pointer;
  }
  .secondrow--card--Link:hover {
    text-decoration: underline;
  }
}
