.footer {
  background: #232f3e;
  color: white;
  padding: 20px 20px;

  .footer--List {
    list-style-type: none;
    text-align: left;
  }
  .footer--List--Heading {
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
    margin-top: 1rem;
  }
  span {
    font-family: "Times New Roman", Times, serif;
    cursor: pointer;
  }
}
